html {
   scroll-behavior:smooth;
 }
   body{   /* main body of html*/
      background-repeat:no-repeat;
      background-size: 100% 100%;
      background-color:#AEE2FF;
      background-attachment: scroll;
  }
 

.navbar {
   
   background-color: #010A43;
   display: flex;
   justify-content: space-around;
   align-items: center;
   line-height: 40px;
  position: fixed;
  width: 99%;
  border-radius:10px;
  
  
}



.checkBtn {
   display: none;
}

#check {
   display: none;
}

.checkBtn {
   cursor: pointer;
   font-size: 30px;
   float: right;
   color: #ed1e79;
   line-height: 80px;
}

.right ul {
   display: flex;
   list-style: none;
}

.right ul li a {
   padding: 15px 24px;
   padding-left: 22px;
   padding-right: 22px;
   font-size: 2rem;
   color: white;
   font-family: 'Fredoka One',cursive;
   cursor: pointer;
   text-decoration: none;
   transition: all 0.5s;
}

.right ul li a:hover {
   background-color: #AEE2FF;
   
   color: #010A43;
   border-radius: 3px;
   border-color: #010A43;
   border-style: solid;
  
   
}


  
 
  /*          DIV II          ##################################################################                */

  #INTRO{
   display: grid;
   width: max-content;
   height: 550px;
   padding-left:110px;
   padding-top: 40px;
  }
    .pre{  /* the  first para of site */
      display: grid;
      width:max-content;
      height: min-content;
      margin-left:30px;
      margin-top:100px;
     }
  
  h3{ /* my name is */
   color:#2192FF;
   margin:0px;
   font-size:21px;
   font-family: 'Fira Mono', monospace;
  height:min-content;
  padding-left:10px;

  }
  h1{  /* NAME main*/
  
   /* width:max-content; */
   height: min-content;
   margin: 0px;
   font-size:90px;
   font-family: 'PT Mono', monospace;
   color:#06283D;
   font-weight: bolder;
}
  .myself{  /* basic info */
   color:#2192FF;
   height:min-content;
   font-size: 24px;
   font-family: 'Fira Mono', monospace;
   font-style: oblique;
   font-weight: bold;
   
   
}
#RESUME{
   padding-top: 60px;
}
.img1{
   height:min-content;
   width: min-content;
   margin-top:160px;
   margin-bottom:30px;
   margin-left:70px;
}
.hr2{
   width: 69%;
   background-color:#A2EAE2;
     border-style: none;
     border-top-style: solid;
     border-bottom-style:solid;
     border-top-width: 2px;
     border-bottom-width: 2px;
     border-color: #1D1CE5;
  
}

a{  /*  VESIT link */
   color: #ff0404;
   text-decoration: none;
}
a:hover{
   color: #010A43;
}

/*     DIV III     ###########################################################################################    */
#AB{
   display: flex;
  margin-top:50px;
  padding-left:50px;
  margin-bottom:100px;
}

.AB1{
   margin-top: 120px;
 margin-left: 110px;
}
.AB2{
   margin-top: 60px;
   height:min-content;
   width: max-content;
   margin-left: 0px;
margin-left: 30px;
}
.AB2 p{
   height:min-content;
   font-size:23px;
   color:#2192FF;
   font-family: 'Fira Mono', monospace;
   font-weight: bold;
}
button {
   font-family: 'Fira Mono', monospace;
   font-size: 17px;
   padding: 1em 2.7em;
   font-weight: 500;
   background: #06283D;
   color: white;
   border: none;
   position: relative;
   overflow: hidden;
   border-radius: 0.6em;
  }
.gradient {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   border-radius: 0.6em;
   margin-top: -0.25em;
   background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  }
  
  .label {
   position: relative;
   top: -1px;
 }
  
  .transition {
   transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
   transition-duration: 320ms;
   background-color: #2192FF;
   border-radius: 9999px;
   width: 0;
   height: 0;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   
   
  }
  
  button:hover .transition {
   width: 14em;
   height: 14em;
   
  }
  
  button:active {
   transform: scale(0.97);
  }

.headings{
   color:#06283D;
   height: min-content;
   margin: 0px;
   font-size:80px;
   font-family: 'PT Mono', monospace;
   font-weight: bolder;
   
}
/*        DIV III  ###########################################################################    */
#SKILLS{
   padding-top: 50px;
}
#SK1{
   display: flex;
   padding-left:60px;
   padding-top: 100px;
   justify-content: space-evenly;
}


.logo{
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 50px;
  padding-bottom: 50px;
}

.TECH:hover{
   transform: scale(1.06); 
   transition: 0.5s;
}

.container {
   width: max-content;
   height: min-content;
   display: grid;
   background-color: #4bf0ea;
   border-radius: 0.9em;
   border:2px;
 align-items: center;
}
.TECH1{
   height:fit-content;
  font-size:20px;
   color:#010A43;
   font-family:  monospace;
   font-weight: bold;
   position: absolute;
   
   padding-top: 1%;
   opacity: 0;
   transition: 0.25s;
}
.TECH1 p{
 
    padding-left: 10px;
}
.container:hover .TECH1{
   opacity: 1;
   transition: 0.5s;
}
.container:hover .TECH{
   opacity: 0.08;
   transition: 0.4s;
}
.container:hover {
  
   background-color: #AEE2FF;
   border-width: 3px;
   border-style: solid;
   border-color: #06283D;
   transition: 0.6s;
}
 